{% extends "layout.html" %}
{% block body %}
 <TABLE  BORDER="5" style="width:95%">
 	<TR>
      <TH COLSPAN="12">
         <H3><BR>Market Cap Table</H3>
      </TH>
   </TR>
      <TH COLSPAN="3">Name</TH>
      <TH COLSPAN="3">Price</TH>
      <TH COLSPAN="3">Market Cap Usd</TH>
      <TH COLSPAN="3">Rank</TH>
	{% for coin in coins %}
   <TR>
      <TD COLSPAN="3">{{coin.name}}</TD>
      <TD COLSPAN="3">{{coin.price_usd}}</TD>
      <TD COLSPAN="3">{{coin.market_cap_usd}}</TD>
      <TD COLSPAN="3">{{coin.rank}}</TD>
   </TR>
	{% endfor %}
	</TABLE>


{% endblock %}